<%= form_with(model: meme, local: true) do |form| %>
  <% if meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
        <% meme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

 <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg'%> 

  </div

<% end %>
