<h1>MemeMe</h1>

<div class="imgContainer">
  <%= image_tag("meme1.png") %>
  <%= image_tag("meme2.png") %>
  <%= image_tag("meme3.jpg") %>
  <%= image_tag("meme4.jpg") %>
</div>

<% if user_signed_in? %>
  <h1>My Memes</h1>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @memes.each do |meme| %>
        <tr>
          <td><%= meme[:name] %></td>
          <td><%= link_to 'Show', meme %></td>
          <td><%= link_to 'Edit', edit_meme_path(meme) %></td>
          <td><%= link_to 'Destroy', meme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>